h1 {
  font-size: 5em;
  color: #FFFFFF;
  margin-bottom: 0;
  background-color: #FF0000;
  text-align: center;
  font-family: Helvetica, Charcoal, sans-serif;
  height: 100px;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #4169E1;
  border-radius: 4px;
  color: #FFFFFF;
  height: 30px;
  font-size: 28px;
  margin-bottom: 10px
}
nav a:visited, a:link {
  color: #FFFFFF;
}
nav a:hover {
  color: #FFFFFF;
  background-color: #bdcbf5;
}
nav a.active {
  color: #FFFFFF;
  background-color: #0e2058;
}
footer {
  clear: both;
  text-align: center;
  padding: 16px;
  background-color: #000;
  color: #fff;
}
